//- блоки с работами
mixin workBox(...items)
  each item in items
    .works__box
      .works__box_hover-slide
        //- название работы
        p.works__name= item[0]
        .works__separator
          .separator-wavy
        //- описание работы
        span.works__description= item[1]
#portfolio
section.portfolio
  .portfolio__wrap
    .portfolio__content 
      h2.title НАША РАБОТА
      .portfolio__separator_wrap 
        .separator-wavy
      p.text Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis, excepturi. Repellat laudantium temporibus ea tempora, modi iste nam. Natus corporis omnis quod fuga molestiae dolorum!
    .works
      +workBox(
        ['НАЗВАНИЕ РАБОТЫ', 'ОПИСАНИЕ РАБОТЫ'],
        ['НАЗВАНИЕ РАБОТЫ', 'ОПИСАНИЕ РАБОТЫ'],
        ['НАЗВАНИЕ РАБОТЫ', 'ОПИСАНИЕ РАБОТЫ'],
        ['НАЗВАНИЕ РАБОТЫ', 'ОПИСАНИЕ РАБОТЫ'],
        ['НАЗВАНИЕ РАБОТЫ', 'ОПИСАНИЕ РАБОТЫ'],
        ['НАЗВАНИЕ РАБОТЫ', 'ОПИСАНИЕ РАБОТЫ']
        )


