//- блоки с работами
mixin workBox(nameWork, descriptionWork)
  .works__box
    .works__box_hover-slide
      p.works__name= nameWork
      .works__separator
        .separator-wavy
      span.works__description= descriptionWork
#portfolio
section.portfolio
  .portfolio__wrap
    .portfolio__content 
      h2.title НАША РАБОТА
      .portfolio__separator_wrap 
        .separator-wavy
      p.text Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis, excepturi. Repellat laudantium temporibus ea tempora, modi iste nam. Natus corporis omnis quod fuga molestiae dolorum!
    .works
      +workBox('НАЗВАНИЕ РАБОТЫ', 'ОПИСАНИЕ РАБОТЫ')
      +workBox('НАЗВАНИЕ РАБОТЫ', 'ОПИСАНИЕ РАБОТЫ')
      +workBox('НАЗВАНИЕ РАБОТЫ', 'ОПИСАНИЕ РАБОТЫ')
      +workBox('НАЗВАНИЕ РАБОТЫ', 'ОПИСАНИЕ РАБОТЫ')
      +workBox('НАЗВАНИЕ РАБОТЫ', 'ОПИСАНИЕ РАБОТЫ')
      +workBox('НАЗВАНИЕ РАБОТЫ', 'ОПИСАНИЕ РАБОТЫ')


