footer.footer 
  .footer__wrap 
    .footer__content 
      .footer___block.footer__left
        .footer__logo
          a(href="#main")
            img.logo(src="header/header/logo.png", alt="webcom logo")
        .footer__separator
          .separator-wavy
        p.footer__text Дисклеймер компании
      .footer__block.footer__mid 
        h3.footer__title МЫ В СОЦ СЕТЯХ
        .footer__separator
          .separator-wavy
        .footer__social-links
          a(href="#").footer__link
            span.footer__icon.footer__inst
          a(href="#").footer__link
            span.footer__icon.footer__tw
          a(href="#").footer__link
            span.footer__icon.footer__fw
      .footer____block.footer__right
        h3.footer__title АДРЕС
        .footer__separator
          .separator-wavy
        p.footer__text г. Минск, ул. Скрыганова, 6А, 4 этаж

  p.footer__copyright COPYRIGHTS 2015 &copy; WEBCOM MEDIA