//- блоки преимуществ
mixin excellence(...items)
  each item in items
    .excellences__block
      //- класс иконки
      div(class="excellences__icon "+item[2]+" "+item[2]+"-dims")
      //- название преимущества
      span.excellences__name= item[0]
      //- текст преимущества
      p.text.excellences__text= item[1]
      
#advantages
section.advantages
  .advantages__wrap
    .advantages__content 
      h2.title ПОЧЕМУ МЫ
      .advantages__separator_wrap 
        .separator-wavy
      p.text Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis, excepturi. Repellat laudantium temporibus ea tempora, modi iste nam. Natus corporis omnis quod fuga molestiae dolorum!
    
    .excellences
      +excellence(
        ['ПРЕИМУЩЕСТВО 1', 'Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum incidunt praesentium aliquam illum.', 'svg-monitor'],
        ['ПРЕИМУЩЕСТВО 1', 'Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum incidunt praesentium aliquam illum.', 'svg-magic_wand'],
        ['ПРЕИМУЩЕСТВО 1', 'Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum incidunt praesentium aliquam illum.', 'svg-rocket'],
        ['ПРЕИМУЩЕСТВО 1', 'Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum incidunt praesentium aliquam illum.', 'svg-globe_2'],
        ['ПРЕИМУЩЕСТВО 1', 'Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum incidunt praesentium aliquam illum.', 'svg-settings'],
        ['ПРЕИМУЩЕСТВО 1', 'Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum incidunt praesentium aliquam illum.', 'svg-layers'],
        ['ПРЕИМУЩЕСТВО 1', 'Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum incidunt praesentium aliquam illum.', 'svg-wrench'],
        ['ПРЕИМУЩЕСТВО 1', 'Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum incidunt praesentium aliquam illum.', 'svg-note']
      )