#main
header.header.header_bg
  .header__wrap
    .header__logo
      a(href="#main")
        img.logo(src="header/header/logo.png", alt="webcom logo")
    nav.header__nav
      ul.header__list
        li
          a.header__link.header__link_active(href="#main") ГЛАВНАЯ
        li
          a.header__link(href="#portfolio") ПОРТФОЛИО
        li
          a.header__link(href="#advantages") ПРЕИМУЩЕСТВА
        li
          a.header__link(href="#reviews") КОНТАКТЫ
    .header__contacts
      a.header__number(href="tel:+375(29)123-45-67") +375 (29) 123-45-67
      br
      a.header__number(href="tel:+375(29)123-45-67") +375 (29) 123-45-67
    .mobile
      span.mobile__icon.burger.open-menu

