.header
	position fixed
	z-index 50
	width 100%
	left 0
	top 0
	&_bg
		background bg-color

	&__wrap
		width 1400px
		margin 0 auto 
		height 120px
		display flex
		justify-content space-between
		align-items center

	&__list
		display flex

	&__link
		position relative
		display inline-block
		width 140px
		margin 0 10px
		line-height 120px
		letter-spacing 0.03em
		font-size main-size - 2
		text-align center
		color #ffffff
		&:before
			underline()
			left 50%
			width 0

		&:hover:before
			left 0
			width 100%

		&_active,
		&:active
			active-link()
	&__number
		color hl-color
		font-weight 700
		letter-spacing 0.05em
		font-size main-size + 8
		line-height main-size + 24
		transition 0.3s

.mobile 
	display none
	&__icon
		cursor pointer
		transition 0.3s
		&:hover
			opacity 0.9
		&:before
			content url('header/header/menu.png')		



@media screen and (max-width:1600px)
	.header
		&__wrap
			width 1170px
			height 80px
		&__link
			width 120px
			line-height 80px
			font-size main-size - 3
		&__number
			font-size main-size + 2
			line-height main-size + 18

@media screen and (max-width:1280px)
	.header
		&__wrap
			width 740px
		&__link
			width 100px
			margin 0 5px
			font-size main-size - 5
		&__number
			font-size main-size - 2
			line-height main-size + 10

@media screen and (max-width:768px)
	.header
		&__wrap
			width 100%
			height 60px
			padding 0 20px
		&__list
			flex-direction column
			position fixed
			right -200px
			top 60px
			width 200px
			height auto
			background bg-color
			padding 0
			margin 0
			transition 0.5s

		&__link
			width 100%
			line-height 60px
			margin 0
			font-size main-size - 4
			&:before
				height 2px
		&__contacts
			display none
	.mobile
		display flex
	.open-menu
		right 0

@media screen and (max-height: 305px)
	.header
		&__list
			height calc(100% - 60px)
		&__link
			line-height 50px